<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layout')%>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1></h1>
            </div>
        </div>
        <h1>
            <%= user %>
        </h1>
        <div class="row">
            <div class="col-12"><a class="btn btn-link"="" href="/login">Please Login to see TOP Secret!</a></div>
            <a href="/logout">
                <button>Logout</button>
            </a>
        </div>
    </div>
</body>

</html>